.single_con {
  display: flex;
  flex-direction: column;
  width: 100vw;
  min-height: 100vh;

  .single {
    margin-top: 100px;
    padding: 20px 100px;
    display: flex;
    gap: 5rem;
    margin-bottom: 2rem;

    .movie_jpg_con {
      width: 27rem;
      height: fit-content;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      border: 2px solid rgba(30, 59, 64, 0.659);
      padding-bottom: 10px;
      border-radius: 20px;
      .jpg {
        width: 100%;
        object-fit: cover;
        border-radius: 10px;
      }
      .movie_btns {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        padding: 10px;
        .movie_btn {
          padding: 13px 0px;
          border-radius: 10px;
          width: 90%;
          align-self: center;
          display: flex;
          gap: 5px;
          justify-content: center;
          align-items: center;
          font-weight: 600;
          font-size: 1rem;
          cursor: pointer;
          color: black;
          transition: 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);

          &:hover {
            color: #fff;
          }
        }
      }
    }

    .movie_information {
      width: 70rem;
      height: fit-content;
      display: flex;
      flex-direction: column;
      gap: 2rem;
      .movie_title {
        font-size: 3rem;
        color: #fff;
        font-weight: 700;
        width: 80%;

        .year {
          color: rgb(107, 107, 107);
          font-size: 1rem;
          font-weight: 300;
        }
      }
      .middle {
        display: flex;
        gap: 20px;
        align-items: center;
        text-transform: uppercase;
        font-weight: 500;
        color: #dd1151;
        .icon_con {
          display: flex;
          gap: 5px;
          align-items: center;
          cursor: pointer;
          font-size: 14px;
          font-weight: 700;
          .icon {
            color: #dd1151;
            padding: 15px;
            border-radius: 50%;
            border: 1px solid #dd1151;
          }
        }
      }
      .bottom {
        display: flex;
        align-items: center;
        gap: 20px;
        font-size: 17px;

        .rating {
          display: flex;
          align-items: center;
          font-size: 17px;
          gap: 2px;
          font-weight: 500;
          color: #fff;
          .star {
            font-size: 17px;
            color: gold;
          }
          .ten {
            font-size: 13px;
            color: rgb(238, 226, 226);
          }
        }
        .release_year {
          color: rgb(180, 180, 180);
        }
      }
      .big_jpg {
        width: 80%;
        min-height: 200px;
        height: fit-content;
      }
      .overview {
        color: rgb(137, 134, 134);
        width: 80%;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .single_con {
    .single {
      width: 100vw;
      min-height: 100vh;
      margin-top: 80px;
      padding: 20px 20px;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      margin-bottom: 1rem;

      .movie_jpg_con {
        width: 100%;
        height: fit-content;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        gap: 5px;
        border: none;
        padding-bottom: 0;
        border-radius: 10px;

        .jpg {
          width: 150px;
          object-fit: cover;
          border-radius: 0px;
        }

        .movie_btns {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          align-self: center;
          padding: 5px;
          .movie_btn {
            padding: 10px 0px;
            border-radius: 0px;
            align-self: center;
            display: flex;
            gap: 5px;
            justify-content: center;
            align-items: center;
            font-weight: 600;
            font-size: 11px;
            cursor: pointer;
            color: black;
            transition: none;
            width: 120px;

            &:hover {
              color: #fff;
            }
          }
        }
      }

      .movie_information {
        width: 90%;
        height: fit-content;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        .movie_title {
          font-size: 1.8rem;
          color: #fff;
          font-weight: 700;
          width: 95%;

          .year {
            color: rgb(107, 107, 107);
            font-size: 0.8rem;
            font-weight: 300;
          }
        }
        .middle {
          display: flex;
          gap: 10px;
          align-items: center;
          text-transform: uppercase;
          font-weight: 500;
          color: #dd1151;
          .icon_con {
            display: flex;
            gap: 5px;
            align-items: center;
            cursor: pointer;
            font-size: 10px;
            font-weight: 700;
            .icon {
              color: #dd1151;
              padding: 15px;
              border-radius: 50%;
              border: 1px solid #dd1151;
            }
          }
        }
        .bottom {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: 5px;
          font-size: 13px;

          .rating {
            display: flex;
            align-items: center;
            font-size: 13px;
            gap: 2px;
            font-weight: 500;
            color: #fff;
            .star {
              font-size: 13px;
              color: gold;
            }
            .ten {
              font-size: 13px;
              color: rgb(238, 226, 226);
            }
          }
          .release_year {
            color: rgb(180, 180, 180);
            font-size: 13px;
          }
        }
        .big_jpg {
          width: 100%;
          height: fit-content;
        }
        .overview {
          color: rgb(137, 134, 134);
          width: 100%;
        }
      }
    }
  }
}
