.navbar {
  display: flex;
  align-items: center;
  padding: 20px 100px;
  justify-content: space-between;
  font-family: "Teko", sans-serif;
  overflow: hidden;
  background: linear-gradient(
      to bottom,
      rgba(4, 21, 60, 0.644),
      rgba(3, 0, 15, 0.922)
    ),
    url("../../assets/banner.jpg");
  background-position: bottom;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 99;
  height: 100px;

  .title_con {
    display: flex;
    align-items: center;
    justify-content: baseline;

    .icon {
      font-size: 4rem;
      color: #ff0051;
    }
    .title {
      display: flex;
      flex-direction: column;
      gap: 0;
      color: #fff;

      span {
        font-size: 0.75rem;
        font-weight: 700;
      }
      h1 {
        font-size: 0.6rem;
      }
    }
  }
  .menu {
    display: flex;
    align-items: center;
    gap: 10px;

    .menu_btn {
      padding: 0;
      margin: 0;
      width: fit-content;
      color: #fff;
    }
  }
}

@media screen and (max-width: 768px) {
  .navbar {
    display: flex;
    align-items: center;
    padding: 20px 20px;
    height: 70px;

    .menu {
      .menu_btn {
        padding: 0;
        margin: 0;
        width: fit-content;
      }
    }
  }
}
